@model TerritoryManagementSystem.Models.MapAddressReportModel

@foreach (var callGroup in Model.CallGroups)
{
    <div>        
        <div>
            <span><b>@callGroup.GroupNameWithCount</b></span>
        </div>
        <div>
            <table border="1" cellspacing="0" cellpadding="0" height="10">
                <tr>
                    <th style="font-weight:bold;">
                        Address
                    </th>
                    <th style="font-weight:bold;" align="center" >
                        Suggested Route
                    </th>
                </tr>
                @foreach (var address in callGroup.CallAddresses.OrderBy(o => o.RouteOrderFromKh))
                {
                    var route = address.RouteOrderFromKh == null ? "" : address.RouteOrderFromKh.ToString();
                    <tr>
                        <td width="200">
                            @address.AddressDisplay
                        </td>
                        <td align="center">
                            @route
                        </td>
                    </tr>
                }
            </table>
        </div>            
    </div>
}
