<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ApplicationEnvironment" value="DEV" />

  <add key ="CongregationName" value="Kings Park Filipino Congregation"/>
  <add key ="CongregationCode" value="KingsParkFilipino"/>
  <add key ="KingdomHallAddress" value="37 Glyndon Avenue, St Albans, Victoria, Australia"/>
  <add key ="KingdomHallLongtitude" value="144.816180"/>
  <add key ="KingdomHallLatitude" value="-37.741850"/>
  <add key ="KingdomHallNumber" value="37"/>
  <add key ="KingdomHallStreet" value="Glyndon Avenue"/>
  <add key ="KingdomHallSuburb" value="St Albans"/>
  <add key ="KingdomHallState" value="Victoria"/>
  <add key ="KingdomHallCountry" value="Australia"/>

  <add key ="MapKey" value="VA4twgnA3v9ZX8PfvVXRAhOu8TCTKUhQ0G9r/GcE+2cRY7NiDP0A2jK2Roakhwu8GdPvaoLm001uxQrrF+gg3V8IUdsl/XvCiA7EctfeFPkvvTgchgxUSQ9C0m05AJVGID9AGiOYD9N4yzOKDlie1Ug4LJJbkaT1NHjA6L+GmRY="/>
  <add key ="GoogleMapDistanceMatrixUrl" value="https://maps.googleapis.com/maps/api/distancematrix/json?origins={0}&amp;destinations={1}&amp;key={2}" />
  <add key ="NumberOfAddressInBatch" value="10" />
</appSettings>