<connectionStrings>
  
	<add name="TerritoryEntities" connectionString="metadata=res://*/DataModel.TerritoryDataModel.csdl|res://*/DataModel.TerritoryDataModel.ssdl|res://*/DataModel.TerritoryDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MRRI184\SQLEXPRESS;initial catalog=kpterritory;user id=TerritoryWebUser;password=ministry!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
	<add name="MembershipConnection"
  connectionString="Data source=DESKTOP-MRRI184\SQLEXPRESS;initial catalog=kpterritory;user id=TerritoryWebUser;password=ministry!@#;"
  providerName="System.Data.SqlClient"/>

</connectionStrings>