@model TerritoryManagementSystem.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    
</div>

@section pageCss{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/page/home.css")" />
}