@using TMS.Web.Helpers
@using TerritoryManagementSystem.Models
@model TerritoryManagementSystem.Models.ReportsModel

@{
    ViewBag.Title = Model.ReportTitle;
    ActionBarModel actionBarModel = new ActionBarModel(ViewBag.Title) { ShowCancel = false };
}

@section scripts
{
    <script type="text/javascript">
        var now = new Date();

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            endDate: 0,
            maxDate: 0
        })

    </script>
}

@section actionBar
{
    @Html.Partial("_ViewActionBar", actionBarModel)
}

<div>
    @Html.Partial("_DateFilter", Model)
</div>
